blessings==1.7
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
idna==2.8
inquirer==2.6.3
prompt-toolkit==1.0.14
pyfiglet==0.8.post1
Pygments==2.7.4
python-editor==1.0.4
readchar==2.0.1
regex==2020.1.8
requests==2.22.0
six==1.13.0
tabulate==0.8.6
termcolor==1.1.0
urllib3==1.25.7
wcwidth==0.1.8
